@import "@styles/variable.scss";
.total_products {
  margin: 50px 0;
  font-size: $fontSizeTitle;
  line-height: 130%;
  color: $fontColorPrimary;
  span {
    font-size: $fontSize - 2px;
    line-height: 130%;
    color: #518581;
    vertical-align: middle;
    padding-left: 26px;
  }
}
.products_all {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

a,
card {
  width: 30%;
  text-decoration: none;
}
