// Variable for Fonts
$fontColorPrimary: #151411;
$fontColorSecondary: #afadb5;
$fontFamily: "Eudoxus Sans", sans-serif;
$fontSize: 18px;
$fontSizeTitle: 44px;
$fontSizeCardTitle: 26px;
$fontSizeRelatedTitle: 32px;
$fontSizeCardPrice: 24px;
