.menu {
  list-style: none;
}

.menu_item {
  padding: 10px;
  border: 1px solid black;
  display: block;
}

.mlt_button {
  text-align: center;
  min-width: 138px;
  height: 3rem;
  border: none;
  padding: 15px 28px;
  background: #ffffff;
  box-shadow: 0px 4px 120px rgba(175, 173, 181, 0.15);
  font-weight: 500;
  font-size: 1rem;
  line-height: 180%;
  color: #151411;
  &:hover {
    opacity: 0.7;
  }
}

.button_disabled {
  background: #d9d9d9;

  &:hover {
    opacity: 1;
  }
  .path {
    stroke: white;
    opacity: 0.4;
  }
}
