.checkbox {
  width: 2rem;
  height: 2rem;
  filter: drop-shadow(0px 4px 120px rgba(175, 173, 181, 0.15));
  box-shadow: 0px 4px 120px #afadb5;
  border: none;
  outline: none;
  line-height: 1em;
  border-radius: 0.25em;
  display: inline-block;
  color: #518581;
  &:focus {
    border: 1px solid #518581;
  }
}
