.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  padding-top: 100px;
  margin: 0;
  font-size: 3.5rem;
  line-height: 130%;
  text-align: center;
  color: #151411;
}

.header__text {
  padding-top: 20px;
  margin: 0;
  max-width: 600px;
  font-weight: 500;
  line-height: 180%;
  text-align: center;
  color: #afadb5;
}
.header__find {
  width: 100%;
  display: flex;
  align-items: center;
}
.find-form {
  position: relative;
  margin-right: 30px;
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  align-items: center;
  .find-form__input {
    flex-grow: 2;
    padding-right: 170px;
    padding-left: 44px;
    background: url("../../assets/img/search.svg") no-repeat 8px center;
    // background-size: auto 50%;
  }

  .find-form__button {
    position: absolute;
    right: 2%;
  }
}
// .find-form::before {
//   display: block;
//   content: url;
//   width: 100%;
//   position: absolute;
//   left: 2%;
// }
