@import "@styles/variable.scss";
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  padding-top: 100px;
  margin: 0;
  font-size: calc($fontSizeTitle + 20px);
  line-height: 130%;
  text-align: center;
  color: $fontColorPrimary;
}

.header__text {
  padding-top: 20px;
  margin: 0;
  max-width: 600px;
  font-weight: 500;
  font-size: $fontSize;
  line-height: 180%;
  text-align: center;
  color: $fontColorSecondary;
}
.header__find {
  width: 100%;
  display: flex;
  align-items: center;
}
.find_form {
  position: relative;
  margin-right: 30px;
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  padding: 2px;
  align-items: center;
  .find_form__input {
    flex-grow: 2;
    padding-right: 170px;
    padding-left: 44px;
    background: url("../../assets/img/search.svg") no-repeat 8px center;
  }

  .find_form__button {
    position: absolute;
    right: 2%;
  }
}
